:root {
  --max-width: 768px;
}

.recentPosts {
  display: flex;
  width: var(--max-width);
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}

.detailPost {
  width: var(--max-width);
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 3px 2px 2px #cceecc;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 20px;
}

.newPost {
  width: var(--max-width);
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 3px 2px 2px #cceecc;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 20px;
}
